---
// Lenguage
import Python from "../img/python.png";
import Php from "../img/php.png";
import Javascript from "../img/javascript.png";
import Typescript from "../img/typescript.png";
import Node from "../img/node.png";
// Frontend
import React from "../img/react.png";
import Vue from "../img/vue.png";
import Angular from "../img/angular.png";
import Astrof from "../img/astrof.png";
import Tailwind from "../img/tailwind.png";
import Sass from "../img/sass.png";
// Backend
import Django from "../img/django.png";
import Laravel from "../img/laravel.png";
import PostgreSQL from "../img/psql.png";
import MySql from "../img/mysql.png";
import Postman from "../img/postman.png";
import Git from "../img/git.png";
// Cloud
import Docker from "../img/docker.png";

---

<section class="container mx-auto p-10 lg:p-0 lg:pt-36" id="about">
    <div class='flex flex-col text-white'>
        <h2 class="capitalize leading-relaxed text-sm lg:text-2xl pb-2 text-center">What skills i have</h2>
        <h2 class="leading-relaxed text-3xl pb-10 lg:text-5xl text-center">MY EXPERIENCE</h2>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <div class="nes-container with-title is-dark col-span-3 lg:col-span-1">
            <h3 class="title">Programming Languages</h3>
            <div class="grid grid-cols-2">
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Python} alt="Python" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Python</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Php} alt="Php" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Php</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Javascript} alt="Javascript" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Javascript</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Typescript} alt="Javascript" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Typescript</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Node} alt="Node" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Node</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="nes-container with-title is-dark col-span-3 lg:col-span-1">
            <h3 class="title">Frontend Development</h3>
            <div class="grid grid-cols-2">
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={React} alt="React" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">React</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Vue} alt="Vue" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Vue</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Angular} alt="Angular" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Angular</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Astrof} alt="Astro" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Astro</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Tailwind} alt="Tailwind" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Tailwind</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Sass} alt="Sass" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Sass</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="nes-container with-title is-dark col-span-3 lg:col-span-1">
            <h3 class="title">Backend Development</h3>
            <div class="grid grid-cols-2">
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Django} alt="Django" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Django</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Laravel} alt="Laravel" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Laravel</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={PostgreSQL} alt="PostgreSQL" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">PostgreSQL</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={MySql} alt="MySql" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">MySql</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Postman} alt="Postman" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Postman</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Git} alt="Git" class="w-12">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Git</h3>
                        <h3 class="text-sm">Intermediate</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-3 lg:col-span-1"></div>
        <div class="nes-container with-title is-dark col-span-3 lg:col-span-1">
            <h3 class="title">Cloud Development</h3>
            <div class="grid grid-cols-2">
                <div class="flex flex-row gap-4 pb-5 items-center col-span-2 md:col-span-1 lg:col-span-1">
                    <img src={Docker} alt="Docker" class="w-14">
                    <div class="flex flex-col">
                        <h3 class="text-xl">Docker</h3>
                        <h3 class="text-sm">Basic</h3>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-span-3 lg:col-span-1"></div>
    </div>
</section>